*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}

.code-main{
    background-color: hsl(0, 0%, 100%);
    max-width: 13.3em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
}

.code-image{
    max-width: 12em;
    height: auto;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    padding: 15px 10px;
    font-size: 0.87em;
    color: hsl(218, 44%, 22%);
}

.first{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 0.69em;
}

.attribution{
    font-size: 0.69em; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: flex;
}

.attribution a{
    color: maroon;
    text-decoration: none; 
}

.attribution a:hover{
    text-decoration: underline;
}


                    /* mobile view */

@media screen and (max-width: 375px) {
    
    .code-main{
        background-color: hsl(0, 0%, 100%);
        max-width: 20em;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        padding: 15px 10px;
        text-align: center;
    }
    
    .code-image{
        max-width: 18.5em;
        height: auto;
        border-radius: 10px;
    }
    
    h1{
        font-weight: 700;
        padding: 15px 10px;
        font-size: 1.25em;
        color: hsl(218, 44%, 22%);
    }
    
    .first{
        font-weight: 400;
        color: hsl(220, 15%, 55%);
        font-size: 1em;
    }
    
    .attribution{
        font-size: 0.93em; 
        text-align: center;
        position: absolute;
        bottom: 10px;
        display: flex;
    }
    
    .attribution a{
        color: maroon;
        text-decoration: none; 
    }
    
    .attribution a:hover{
        text-decoration: underline;
    }
    
}

                    /* desktop view */

@media screen and (min-width: 376px) and (max-width: 1440px) {

.code-main{
    background-color: hsl(0, 0%, 100%);
    max-width: 13.3em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
}

.code-image{
    max-width: 12em;
    height: auto;
    border-radius: 10px;
}

h1{
    font-weight: 700;
    padding: 15px 10px;
    font-size: 0.87em;
    color: hsl(218, 44%, 22%);
}

.first{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    font-size: 0.69em;
}

.attribution{
    font-size: 0.93em; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    display: flex;
}

.attribution a{
    color: maroon;
    text-decoration: none; 
}

.attribution a:hover{
    text-decoration: underline;
}
}